<%= form_for(task) do |f| %>
  <b>Name:</b></br>
  <%= f.text_field :name, class: 'form-control' %>
  <b>Description:</b></br>
  <%= f.text_area :description, class: 'form-control' %></br>

  <div>
    <b>Share with by email(optional):</b>
    <button type="button" class="btn btn-primary btn-sm" onclick="addSharedEmailContainer(this)">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
