<% if flash[:notice_success] %>
  <% flash[:notice_success].each do |success| %>
    <div class="alert alert-success">
      <%= success %>
    </div>
  <% end %>
  <%= flash[:notice_success] = nil %>
<% end  %>

<% if flash[:notice_failure]%>
  <% flash[:notice_failure].each do |failure| %>
    <div class="alert alert-danger">
      <%= failure %>
    </div>
  <% end %>
  <%= flash[:notice_failure] = nil %>
<% end  %>
